doctype html
html(lang="en")
  head
    title Home | Kigi Scorer
    meta(charset='UTF-8')
    link(href='css/base.css', rel='stylesheet')
  body(ng-app='app')
    h1 Kigi Scorer
    p(ng-controller='MainCtrl as ctrl') {{ctrl.message}}

    scorer

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='js/app.js')
