doctype html
html(lang="en")
  head
    title Home
    meta(charset='UTF-8')
    link(href='css/base.css', rel='stylesheet')
  body
    h1 Hello world
    p What's the frequency Kenneth?

    div(id='app')

    script(src='js/app.js')
